<div class="container" style="margin-top: 30px">
  <div class="jumbotron">
    <h2>Manage Contacts</h2>
    <hr>
    <div id="todo-form" class="row">
      <div class="col-sm-12">
          <% if(flash && flash.err) { %>
            <div class="alert alert-danger">
              <strong>Oops!</strong>&nbsp;<%= flash.err %>. Please check missing fields and try again.
            </div>
          <% } %>
          <form class="form-inline" action='/contact/create' method='POST'>
            <div class="form-group">
              <input type="text" name="name" class="form-control input-md text-center" style="width: 350px" placeholder="Name..">
              <input type="text" name="number" class="form-control input-md text-center" style="width: 210px" placeholder="Contact Number..">
              <button type="submit" class="btn btn-primary btn-md">Create</button>
            </div>
          </form>
      </div>
    </div>
    <br>
    <br>
    <div id="contact-list" class="row">
      <div class="col-sm-12">
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Contact Name</th>
              <th>Contact Number</th>
              <th class="text-center">Actions</th>
          </thead>
          <tbody class="table-striped">
            <% _.each(contacts, function(contact) { %>
              <tr data-id="<%= contact.id %>" data-model="contact">
                <td><%= contact.id %></td>
                <td><%= contact.name %></td>
                <td><%= contact.number %></td>
                <td class="text-center">
                  <a class="btn btn-info btn-sm" href="/contact/show/<%= contact.id %>">VIEW</a>
                  <a class="btn btn-success btn-sm" href="/contact/edit/<%= contact.id %>">EDIT</a>
                  <form style="display: inline-block" action="/contact/destroy/<%= contact.id %>" method="POST" onsubmit="return confirm('Remove \'<%= contact.name%>\' from your contacts?');">
                    <input type="hidden" name="_method" value="delete">
                    <input type="submit" class="btn btn-danger btn-sm" value="DELETE">
                  </form>
                </td>
              </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>